Santa Claus:santa.claus@christmas.com
Nikolaus:nikolaus@christmas.de
Agios Nikolaus:agios.nikolaus@christmas.gr
Babbo Natale babbo.natale@christmas.it
Pere Noel pere.noel@christmas.fr
Noel Babba noel.babba@christmas.tr
Sinterklaas sinterklaas@christmas.nl
Papa Noel papa.noel@christmas.es
Papai Noel papai.noel@christmas.br
Jultomten jultomten@christmas.se
Djed Moros djed.moros@christmas.ru
